# ANN (Artificial Neural Network)

## ANN for Classification

### Data Preprocessing

In [1]:
!pip install tensorflow tensorflow-gpu

Requirement already satisfied: tensorflow in c:\programdata\anaconda3\envs\thesis\lib\site-packages (2.9.1)
Collecting tensorflow-gpu
  Downloading tensorflow_gpu-2.10.0-cp39-cp39-win_amd64.whl (455.9 MB)
     ------------------------------------ 455.9/455.9 MB 816.9 kB/s eta 0:00:00
Requirement already satisfied: absl-py>=1.0.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (1.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (65.5.0)
Collecting flatbuffers<2,>=1.12
  Downloading flatbuffers-1.12-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: numpy>=1.20 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (1.23.4)
Requirement already satisfied: packaging in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (21.3)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (4.4.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (1.46.0)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: tensorflow-estimator<2.10.0,>=2.9.0rc0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (2.9.0)
Requirement already satisfied: six>=1.12.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (1.16.0)
Collecting protobuf<3.20,>=3.9.2
  Downloading protobuf-3.19.6-cp39-cp39-win_amd64.whl (895 kB)
     -------------------------------------- 895.9/895.9 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: keras<2.10.0,>=2.9.0rc0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (2.9.0)
Collecting libclang>=13.0.0
  Downloading libclang-14.0.6-py2.py3-none-win_amd64.whl (14.2 MB)
     ---------------------------------------- 14.2/14.2 MB 1.0 MB/s eta 0:00:00
Requirement already satisfied: astunparse>=1.6.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: wrapt>=1.11.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (1.14.1)
Requirement already satisfied: termcolor>=1.1.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (2.0.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: h5py>=2.9.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (3.7.0)
Requirement already satisfied: tensorboard<2.10,>=2.9 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorflow) (2.9.0)
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.27.0-cp39-cp39-win_amd64.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 1.0 MB/s eta 0:00:00
Collecting tensorflow-gpu
  Downloading tensorflow_gpu-2.9.2-cp39-cp39-win_amd64.whl (444.1 MB)
     -------------------------------------- 444.1/444.1 MB 1.1 MB/s eta 0:00:00
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (3.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.28.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.2.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.13.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from packaging->tensorflow) (3.0.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.2.7)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (4.11.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2022.9.24)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.10,>=2.9->tensorflow) (2.1.1)
Requirement already satisfied: zipp>=0.5 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (3.9.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\programdata\anaconda3\envs\thesis\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (3.2.2)
Installing collected packages: libclang, flatbuffers, tensorflow-io-gcs-filesystem, protobuf, gast, tensorflow-gpu
  Attempting uninstall: flatbuffers
    Found existing installation: flatbuffers 2.0
    Uninstalling flatbuffers-2.0:
      Successfully uninstalled flatbuffers-2.0
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.1
    Uninstalling protobuf-3.20.1:
      Successfully uninstalled protobuf-3.20.1
  Attempting uninstall: gast
    Found existing installation: gast 0.5.3
    Uninstalling gast-0.5.3:
      Successfully uninstalled gast-0.5.3
Successfully installed flatbuffers-1.12 gast-0.4.0 libclang-14.0.6 protobuf-3.19.6 tensorflow-gpu-2.9.2 tensorflow-io-gcs-filesystem-0.27.0

In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
import tensorflow as tf

print(f"Tensorflow Version: {tf.__version__}")

Tensorflow Version: 2.9.1

In [2]:
# Importing Dataset
dataset = pd.read_csv("../deeplearning/dataset_dl/Churn_Modelling.csv")

In [3]:
# Top data Preview
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Information about Dataset Columns
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
# Dropping Useless Columns
useless_col = ["RowNumber","CustomerId","Surname"]
dataset = dataset.drop(labels=useless_col, axis=1)
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# Statistical Info of Dataset
dataset.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [7]:
# Splitting Data
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [8]:
print(f"X:-\n {X}\n{'*'*80}\ny:-\n {y}")

X:-
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
********************************************************************************
y:-
 [1 0 1 ... 1 1 0]

#### Encoding Categorical Data

##### LabelEncoding the Gender

In [9]:
print("Before LabelEnc:\n",X[0:5])

Before LabelEnc:
 [[619 'France' 'Female' 42 2 0.0 1 1 1 101348.88]
 [608 'Spain' 'Female' 41 1 83807.86 1 0 1 112542.58]
 [502 'France' 'Female' 42 8 159660.8 3 1 0 113931.57]
 [699 'France' 'Female' 39 1 0.0 2 0 0 93826.63]
 [850 'Spain' 'Female' 43 2 125510.82 1 1 1 79084.1]]

In [10]:
# Labelencoding Gender Data
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])

In [11]:
print("After LabelEnc:\n",X[0:5])

After LabelEnc:
 [[619 'France' 0 42 2 0.0 1 1 1 101348.88]
 [608 'Spain' 0 41 1 83807.86 1 0 1 112542.58]
 [502 'France' 0 42 8 159660.8 3 1 0 113931.57]
 [699 'France' 0 39 1 0.0 2 0 0 93826.63]
 [850 'Spain' 0 43 2 125510.82 1 1 1 79084.1]]

##### OneHotEncoding the Geography

In [12]:
# OneHotEncoding Geography Column with ColumnTransformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = ct.fit_transform(X)

In [13]:
print("After LabelEnc & OneHotEnc:\n",X[0:5])

After LabelEnc & OneHotEnc:
 [[1.0 0.0 0.0 619 0 42 2 0.0 1 1 1 101348.88]
 [0.0 0.0 1.0 608 0 41 1 83807.86 1 0 1 112542.58]
 [1.0 0.0 0.0 502 0 42 8 159660.8 3 1 0 113931.57]
 [1.0 0.0 0.0 699 0 39 1 0.0 2 0 0 93826.63]
 [0.0 0.0 1.0 850 0 43 2 125510.82 1 1 1 79084.1]]

#### Splitting Data

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state=0)

In [15]:
print("Train:\n",X_test[1],"*"*80,"\n\nTest:\n",X_test[1])

Train:
 [1.0 0.0 0.0 523 0 40 2 102967.41 1 1 0 128702.1] ********************************************************************************

Test:
 [1.0 0.0 0.0 523 0 40 2 102967.41 1 1 0 128702.1]

#### Feature Scalling (Necessary for ANN)

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Building ANN

#### Defining ANN

In [17]:
ann = tf.keras.Sequential()

In [18]:
# First Input Layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

# Second Hideen Layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

# Output Layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

#### Compiling ANN

In [19]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#### Training ANN

In [24]:
r = ann.fit(X_train, y_train, batch_size=32, epochs=40)

Epoch 1/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3343 - accuracy: 0.8636
Epoch 2/40
250/250 [==============================] - 2s 6ms/step - loss: 0.3342 - accuracy: 0.8633
Epoch 3/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3345 - accuracy: 0.8621
Epoch 4/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3341 - accuracy: 0.8653
Epoch 5/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3338 - accuracy: 0.8636
Epoch 6/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3339 - accuracy: 0.8646
Epoch 7/40
250/250 [==============================] - 2s 6ms/step - loss: 0.3339 - accuracy: 0.8643
Epoch 8/40
250/250 [==============================] - 2s 6ms/step - loss: 0.3337 - accuracy: 0.8644
Epoch 9/40
250/250 [==============================] - 2s 6ms/step - loss: 0.3337 - accuracy: 0.8648
Epoch 10/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3338 - accuracy: 0.8651
Epoch 11/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3338 - accuracy: 0.8649
Epoch 12/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3336 - accuracy: 0.8645
Epoch 13/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3336 - accuracy: 0.8648
Epoch 14/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3333 - accuracy: 0.8643
Epoch 15/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3332 - accuracy: 0.8666
Epoch 16/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3335 - accuracy: 0.8654
Epoch 17/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3336 - accuracy: 0.8648
Epoch 18/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3331 - accuracy: 0.8655
Epoch 19/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3332 - accuracy: 0.8660
Epoch 20/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3331 - accuracy: 0.8644
Epoch 21/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3333 - accuracy: 0.8640
Epoch 22/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3331 - accuracy: 0.8656
Epoch 23/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3329 - accuracy: 0.8653
Epoch 24/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3329 - accuracy: 0.8641
Epoch 25/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3329 - accuracy: 0.8666
Epoch 26/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3330 - accuracy: 0.8655
Epoch 27/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3330 - accuracy: 0.8643
Epoch 28/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3331 - accuracy: 0.8640
Epoch 29/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3330 - accuracy: 0.8655
Epoch 30/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3324 - accuracy: 0.8640
Epoch 31/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3331 - accuracy: 0.8640
Epoch 32/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3326 - accuracy: 0.8655
Epoch 33/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3330 - accuracy: 0.8648
Epoch 34/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3328 - accuracy: 0.8639
Epoch 35/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3332 - accuracy: 0.8643
Epoch 36/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3330 - accuracy: 0.8635
Epoch 37/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3328 - accuracy: 0.8644
Epoch 38/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3330 - accuracy: 0.8653
Epoch 39/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3328 - accuracy: 0.8644
Epoch 40/40
250/250 [==============================] - 2s 7ms/step - loss: 0.3323 - accuracy: 0.8646

### Predicting Results

__Given:__ 
* Geography : France,
* Credit Score: 600,
* Gender: Male,
* Age: 40yrs,
* Tenure: 3yrs,
* Balance: 60000,
* No of Products: 2,
* Does this Customer have a credit card: Yes,
* is this customer an active member: Yes,
* Estimated Salary:  50000,

__To predict:__ Will customer Leave (Yes/No)

In [36]:
country = [1,0,0] # france, Germany, Spain
credit = 600
gender = 1 # male=1, female=0
age = 40
tenure = 3
balance = 60000
products = 2
isCreditCardOwner = 1 #yes
isActiveMember = 1 #yes
salary =  50000

input_data = [*country, credit, gender, age, tenure, balance, products, isCreditCardOwner, isActiveMember, salary]
print("Input Before Scalling:", input_data)
print("No of Input Features Given:", len(input_data))

Input Before Scalling: [1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]
No of Input Features Given: 12

#### Scalling Inputs Before Passing to predict()

In [37]:
input_data= sc.transform([input_data])
print("Input Before Scalling:\n", input_data)

Input Before Scalling:
 [[ 0.98560362 -0.5698444  -0.57369368 -0.52111599  0.91601335  0.10961719
  -0.68538967 -0.2569057   0.8095029   0.64259497  0.9687384  -0.87203322]]

In [47]:
res = ann.predict(input_data, verbose=False)[0][0]
print(f"Probability of Customer Leaving: {round(res*100,4)}%")
print("Will Customer Leave Bank:",res>0.5)

Probability of Customer Leaving: 2.3882%
Will Customer Leave Bank: False

## ANN for Regression