# Pandas 
<img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg" alt="Pandas Logo" width="25%" align="center"/>

In [14]:
import numpy as np
import pandas as pd

print("Pandas Version:",pd.__version__)

Pandas Version: 1.4.4

## Series

It is a one-dimensional array holding data of any type.

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

## Creating Series

In [3]:
# Creating Pandas Series with data and labels
pd.Series(data=my_data , index=labels)

a    10
b    20
c    30
dtype: int64

In [4]:
# Creating Series using Dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [5]:
# Pandas Series can also hold Objects
pd.Series(data=[sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

### Easier & Efficient Trick for adding Index

In [6]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
subject = ["Physics", "Mathematics", "Social Science", "Chemistry", "Drawing" , "Biology", "English"]
pd.Series(data=subject, index=days)

Mon           Physics
Tue       Mathematics
Wed    Social Science
Thu         Chemistry
Fri           Drawing
Sat           Biology
Sun           English
dtype: object

## Accessing Series

In [7]:
ser1 = pd.Series(["Rajasthan", "Maharashtra", "Delhi"], ['1st','2nd','3rd'])
display(ser1)

1st      Rajasthan
2nd    Maharashtra
3rd          Delhi
dtype: object

In [8]:
ser1['3rd']

'Delhi'

In [9]:
ser2 = pd.Series({'i':10, 'ii':31, 'iii':52, 'iv':24})
ser2

i      10
ii     31
iii    52
iv     24
dtype: int64

### Operations on Series

In [10]:
ser1+ser2

1st    NaN
2nd    NaN
3rd    NaN
i      NaN
ii     NaN
iii    NaN
iv     NaN
dtype: object

In [11]:
ser2+ser2

i       20
ii      62
iii    104
iv      48
dtype: int64

In [12]:
ser2**2

i       100
ii      961
iii    2704
iv      576
dtype: int64